@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

/*
I lovee this code
*/

body {
    font-family:'Open Sans', sans-serif;
    color:gray;
    border: 1px solid gray;
    margin: 10px;
    background-color: gray;
} 

header{
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    overflow: hidden;
}
.menu {
    list-style-type: none; 
    text-align: center; 
    background-color: #fff; 
    max-height: 100%;
}

.menu li {
    display: inline; 
    margin: 0 15px; 
}

.menu a {
    text-decoration: none; 
    color: #000; 
    font-size: 18px; 
    padding: 10px 15px;  
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.Banner img {
    max-width: 300px; /
}

.Bio1, .proj, .cont {
    flex: 1; 
    max-width: 300px; 
    padding: 0 20px; 
}

.Bio1, .proj, .cont  p{
    margin-bottom: 10px; 
    align-self: flex-start;
}

.Bio1 {
    text-align: justify;
}

.proj p{
    text-align:center;
}

.proj a{
    text-decoration: none;
}

.welcome {
    text-align: center; 
    padding: 50px 0; 
}

.welcome h1 {
    font-size: 36px; 
    margin-bottom: 10px; 
}

.hello {
    color: #FF5722;
}

.Name {
    color: #333; 
}

.projects-name{
    text-align: center; 
    padding: 50px 0; 
}

.cont{
    text-align: left;
}

.social-icons {
    list-style-type: none;
    padding: 0;
}

.social-icons li {
    display: inline;
    margin-right: 10px;
}

.social-icons img {
    width: 50px;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

footer p{
    text-align: center;
}

